.coluna-row{
    margin-top: 20px;
    margin: 0px 30px 0 30px;
    
}

.coluna1{
    float: left;   
    margin-left: 3.40909%;
    width: 5.208333333%;


}

.coluna2{
    float: left;   
    margin-left: 3.40909%;
    width:13.82575758%;

}

.coluna3{
    float: left;   
    margin-left: 3.40909%;
    width: 22.4431818182%;


}

.coluna4{
    float: left;   
    margin-left: 3.40909%;
    width: 31.06060606%;


}

.coluna5{
    float: left;   
    margin-left: 3.40909%;
    width: 39.6780303%;


}

.coluna6{
    float: left;   
    margin-left: 3.40909%;
    width: 48.29545455%;


}

.coluna7{
    float: left;   
    margin-left: 3.40909%;
    width: 56.91287879%;


}

.coluna8{
    float: left;   
    margin-left: 3.40909%;
    width: 65.53030303%;


}

.coluna9{
    float: left;   
    margin-left: 3.40909%;
    width: 74.14772727%;


}

.coluna10{
    float: left;   
    margin-left: 3.40909%;
    width: 82.76515152%;


}

.coluna11{
    float: left;   
    margin-left: 3.40909%;
    width: 91.38257576%;


}

.coluna12{
    float: left;   
    margin-left: 3.40909%;
    width: 100%;


}

.coluna-inicial{
    margin-left: 0;
}