
body,html{
    background: #ddd;
}

.navbar{
    background: white;
    margin-bottom: 0;
}

.navbar-inner{
    border-radius: 0;
}

.subnav{
    background: rgb(238, 238, 238);
    -webkit-box-shadow: 0px 2px 4px rgba(136, 136, 136, 0.63);
    -moz-box-shadow:   0px 2px 4px rgba(136, 136, 136, 0.63);
    box-shadow:         0px 2px 4px rgba(136, 136, 136, 0.63);
    margin-bottom: 30px;
}
.content{
    padding: 15px;
    background: #fff;    
    box-shadow: rgb(136, 136, 136) 1px 1px 10px 0px;
    border-radius: 4px;
    margin-bottom: 50px;

}

#modal_preview_post{
    width: 700px;
    top: 40%;
    left: 45%;
}


.modal_preview .modal-body{
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: visible;
}

/* essa hierarquia para ganhar da regra anterior*/
.input-warming input, .input-warming select, .input-warming textarea{
    border: 1px solid  #c09853;
}

.textarea_produto{
    height: 150px;
}

.boutique-menu-lateral{
    margin-top: 0;
    font-family: verdanda, sans-serif;
}

td img{
    width: 100px;
    height: 100px;
}

.table td {    
    padding-top: 45px;
}

.table td:first-child {    
    padding-top: 8px;
}

td .btn-info{
    margin-left: 8px;
}

span{
    color: #333;
}

.remove_img{
    position: absolute;
    top: 0;
    right: 0;
    
}

.img_produto_container{
    float: left;
    position: relative;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 100px;
}

.img_produto_container img{
     width: 100px;
     height: 100px;
}

legend h1{
    float:left;
}

legend .btn{
    float: right;
    margin-top: 10px;
    height: 45px;
}

